section.listing {
    margin-top: 0;
    padding: 10px 30px;

}

section.listing:nth-child(2n) {
    margin-top: 0;
    padding-bottom: 40px;
}

.listing h2 {
    margin: .5em 0;
}

.pub-date {
    color: #666;
    font-size: .8em;
    margin-top: -.5em;
    margin-bottom: 1.5em;
}

#nav-container nav.taxonomy {
    top: 120px;
    color: #666;

}

.nav-title {
    margin-bottom: .5em;
}

.post-cards {
    font-size: .65em;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 1em 0;
    align-items: stretch;
}

.post-card-container {
    width: 230px;
    margin: 1em 0
}

.card {
    box-shadow: 0 0 10px 0 #ccc;
    padding: 5px 10px 15px 10px;
    display: block;
    -moz-transition: transform .2s ease-in;
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    -ms-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
    position: relative;
    height: 100%;
}

.post-card-container:nth-child(2n) .card {
    background-color: rgba(var(--alt-col), .15);
}

.card .img-container {
    -moz-transform: translate(-8px, -10px) scale(1.1);
    -webkit-transform: translate(-8px, -10px) scale(1.1);
    -o-transform: translate(-8px, -10px) scale(1.1);
    -ms-transform: translate(-8px, -10px) scale(1.1);
    transform: translate(-8px, -10px) scale(1.1);
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: grayscale();
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transition: transform .4s ease-out;
    -webkit-transition: transform .4s ease-out;
    -o-transition: transform .4s ease-out;
    -ms-transition: transform .4s ease-out;
    transition: transform .4s ease-out;
}

.card:hover img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.read-time {
	background: rgba(var(--alt-col), 0.7);
	display: block;
	padding: 0 5px;
	color: white;
    font-weight: 400;
	position: absolute;
    bottom: 0;
    left: 8px
}

.post-card-container:nth-child(2n-1) .img-overlay {
    background-color: rgba(var(--alt-col), .2);
}

.card h2 {
    margin: 10px 0 7px 0;
}

.card .pub-date {
    margin: 0 0 10px 0
}

.card>a {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

.card .tags {
	position: absolute;
	right: -10px;
	top: calc(100% - 10px);
}

.card .tags a {
	color: white;
	border: none;
	margin: 1px;
	background-color: rgb(var(--theme-col));
	padding: 2px 5px;
}

@media (max-width: 590px) {
    .post-cards {
        justify-content: center;
    }
}

.pub-date {
    background-color: rgb(var(--theme-col));
    width: max-content;
    border: solid 1px rgb(var(--theme-col));
    border-radius: 3px;
    text-align: center;
    -moz-transition: transform .1s ease-in;
    -webkit-transition: transform .1s ease-in;
    -o-transition: transform .1s ease-in;
    -ms-transition: transform .1s ease-in;
    transition: transform .1s ease-in;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    right: 3px;
    top: -22px;
}

.pub-date div {
    display: block;
    padding: 0 2px;
}

.year {
    color: white;
    width: 39px;
}

.day {
    font-size: 1.3em;
    font-weight: 400;
    background-color: white;
    margin-bottom: -1px;
}

.month {
    background-color: white;
    margin-top: -1px;
}
