@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&display=swap');

:root {
	--theme-col: 235, 120, 0;
	--alt-col: 35, 137, 196;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html.fixed {
	overflow-y: hidden;
}

#background {
	background-image: var(--background-img-small);
}

body {	
    font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	line-height: 1.5;
	position: relative;	
}

p {
	margin-bottom: 1em;
}

h2 {
	font-size: 1.5em;
	margin: .2em 0 1em 0;
}

h3 {
	font-size: 1.2em;
	margin: .2em 0 .5em 0;
}

em, i {
	font-style: italic;
}

strong {
	font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
	font-family: 'Roboto Mono', monospace;
}

hr {
	width: 70%;
	margin: 1.5em auto;
	border-bottom: solid 1px #0005;
}

del {
	text-decoration: line-through;
}

header {
    display: flex;
	justify-content: end;
    position: fixed;
    top: 0;
	right: 0;
    z-index: -1;
    background: none;
    padding: 7px;
	opacity: 0;
	-webkit-transition: all .3s ease-in .5s;
	-moz-transition: all .3s ease-in .5s;
	-o-transition: all .3s ease-in .5s;
	transition: all .3s ease-in .5s;
}

#menu-icon {
	cursor: pointer;
}

header nav {
    position: absolute;
    background: white;
    top: 50%;
    right: 40px;
    font-size: 1.5em;
    box-shadow: 1px 1px 10px -5px;
	opacity: 0;
	z-index: -1;
	padding: 10px 0;
	pointer-events: none;
}

header nav.active {
	opacity: 1;
	z-index: 100;
	pointer-events: all;
}

header nav a {	
	display: block;
    padding: 5px 40px;
}

div#hamburger-bkg {
    background: rgb(var(--theme-col));
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: fixed;
    top: -60px;
    right: -60px;
    z-index: -1;
    box-shadow: 1px 1px 25px -10px;
}

#menu-icon svg {
    fill: white;
}

#background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#byline {
	position: relative;
	margin: 20px;
	padding: 40px;
	background: rgba(var(--alt-col), .2);
}

#byline #title {
    font-size: 30px;
    font-weight: bold;
	background: rgba(var(--theme-col), .9);
	color: white;
    padding: 0 20px 5px 20px;
	width: fit-content;
	margin-left: 10%;
}

#byline #subtitle {
    display: none;
}

#main-container {
	z-index: 1;
	position: relative;
	background: white;
	color: #202020;
	padding: 2em 0;
	font-size: 20px;
	display: grid;
	grid-template-columns: [screen-start] 0 [text-start] auto [text-end margin-start] 0 [margin-end screen-end];
	gap: 20px;
}

main {	
	grid-column: text-start / text-end;
	font-size: 16px;
	
}

section {
	position: relative;
	margin: 10px 0 40px 0;
}

section:nth-child(2n) {
	background: rgba(var(--alt-col), .1);
	box-shadow: 0 0 10px 0 #ccc;
	padding: 20px 30px;
}

#nav-container {
	display: none;
}

a, span.hoverable {
	border-bottom: solid 1px rgb(var(--alt-col));
	color: rgb(var(--alt-col));
	cursor: pointer;
}

a:hover, span.hoverable:hover, .tooltip a:hover {
	border-bottom: solid 1px rgb(var(--theme-col));
	color: rgb(var(--theme-col));
}

a.footnote-ref, a.footnote-backref {
	border: none;
}

.tooltip ul {
	text-align: left;
}
.tooltip a {
	border-bottom: solid 1px white;
	color: white;
}
a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

nav a {
	color:#666
}

nav a, nav a:hover, #back a, #back a:hover, #home a, #home a:hover {
	border: none
}

#home a, #back a {
	color: #555;
	width: fit-content;
}

.inline-icons {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 4em
}

a.button {
	border: solid 1px rgb(var(--theme-col));
	color: white;
	background: rgba(var(--theme-col), .85);
	padding: 0 5px;
	font-size: .9em;
}

a.button:hover {
	background: rgb(var(--theme-col));
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-flow: row-reverse;
}
.hoverable:hover+.tooltip, .hoverable+.tooltip:hover{
	opacity: 1;
	z-index: 100;
}
.tooltip {
    position: absolute;
    display: block;
    width: max-content;
    max-width: 90%;
    background: #000c;
    color: white;
    font-size: 15px;
    padding: 1px 5px;
    border-radius: 5px;
    margin-top: 10px;
    z-index: -1;
    opacity: 0;
	-webkit-transition: opacity .3s ease-in, z-index .3s;
	-moz-transition: opacity .3s ease-in, z-index .3s;
	-o-transition: opacity .3s ease-in, z-index .3s;
	transition: opacity .3s ease-in, z-index .3s;
}

footer {
	background: rgba(var(--alt-col), .35);
	position: relative;
	color: white;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column-reverse;
	gap: 10px;
}

footer a {
	border: none;
	color: white;
}

footer a:hover {
	border: none;
}

#socials {
	font-size: 2em;
}

#socials i {
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
	margin: 0 5px;
}

#socials i:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	color: rgb(var(--theme-col))
}

.wide-only {
	display: none
}

iframe {
	border: solid 1px rgb(var(--alt-col));
	width: 100%;
	margin-bottom: 2em;
}

iframe.viz {
	border: none;
}
pre {
	padding: 5px 10px;
	margin-bottom: 1em;
	font-size: .80em;
	border: solid 1px rgba(var(--theme-col), .3)
}

pre code {
	white-space: break-spaces;
	word-break: break-word;
}

pre.chroma {	
	background: rgba(var(--alt-col), .1);
	border: none;
	position: relative;
}
@media (max-width: 750px) {
	body {
		overflow-x: hidden;
	}

	header.active:not(.hidden) {
		z-index: 100;
		opacity: 1;
	}	
}

@media (min-width: 480px) {
	footer {		
		flex-direction: row;
	}
}
@media (min-width: 590px) {
    #byline #subtitle {		
		background: #999999e6;
        display: block;
        -webkit-transform: translateX(10vw);
        -moz-transform: translateX(10vw);
        -o-transform: translateX(10vw);
        transform: translateX(10vw);
		font-size: 20px;
		padding: 0 10px;
		width: fit-content;
		margin-left: 0;
		margin-top: -5px;
		-webkit-transform: translateX(12vw);
		-moz-transform: translateX(12vw);
		-o-transform: translateX(12vw);
		transform: translateX(12vw);
		max-width: 87%;
	}
}

@media (min-width: 580px) {
	#background {
		background-image: var(--background-img-medium);
	}

	.wide-only {
		display: block
	}
	.narrow-only {
		display: none !important
	}
}

@media (min-width: 750px) {
	#main-container {
		grid-template-columns: [screen-strat] minmax(50px, 1fr) [nav-start] 160px [nav-end text-start] minmax(500px, 1000px) [text-end margin-start] 1fr [margin-end screen-end];
		gap: 20px;
	}
	
	main {
		font-size: 18px;
	}
	
	#nav-container {
		display: block;
		grid-column: nav-start;
	}

	#nav-container .inline-icons {
		position: sticky;
		top: 52px;
		z-index: 100;
		margin-top: 12px;
	}

	#nav-container nav {
		position: sticky;
		top: 102px;
		z-index: 100;
		margin-top: 20px;
	}

	#nav-container li {
		margin-bottom: 10px;
	}

	#nav-container a {
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	#nav-container a.active {
		font-weight: 800;
		color: rgb(var(--theme-col));		
		font-size: 1.05em;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}
}

@media (min-width: 1024px) {
	#background {
	background-image: var(--background-img-large);
	}
	#author-section {
		flex-direction: row;
	}
}

@media (min-width: 1340px) {
	#background {
	background-image: var(--background-img-huge);
	}
	#main-container {
		gap: 80px;
	}
}


.copy-btn {
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 5px;
	border: solid 1px;
	color: rgb(var(--alt-col));
	padding: 0 4px;
	text-align: center;
	border-radius: 4px;
}

.copy-btn:hover {
	background: rgb(var(--alt-col));
	color: white;
	border-color: rgb(var(--alt-col));
}

.copy-btn:active:hover {
	background: rgba(var(--theme-col), .4);
	border-color: rgb(var(--theme-col));
	color: rgb(var(--theme-col));
}

.copy-msg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(var(--alt-col));
	color: white;
	font-size: 1.1em;
	pointer-events: none;
}

.copy-msg, .copy-btn{
	opacity: 0;
	-webkit-transition: opacity .2s ease-in;
	-moz-transition: opacity .2s ease-in;
	-o-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
}

pre:hover .copy-btn, .copy-msg.active {
	opacity: 1;
}

.preamble {
	font-style: italic;
	color: #555;
}

.preamble > p {
	margin: .5em 0;
}

table {
	max-width: calc(100vw - 40px);
	overflow-x: auto;
	display: block;
	font-size: 13px;
	margin: auto;
	margin-bottom: 2em;
	
}

thead, tbody {
	border-bottom: solid .5px #0006
}

tr:nth-of-type(2n-1) {
	background: #0001;
}

thead tr {
	background: none !important;
}
th {
	text-align: center !important;
	font-weight: bold;
}

td {
	padding: 3px 8px;
	vertical-align: middle;
}

.quarto {
	margin-top: 2em;
	font-size: .8em;
	text-align: center;
	color: #666;
}

a.quarto-link {
	border: none;
}

.quarto-icon {
	height: 16px;
	margin-bottom: -3.5px;
}

.quarto-icon:hover {
	filter: hue-rotate(160deg);
}

#copyright {
	font-weight: bold;
}

kbd {
	display: inline-block;
	border: solid 1px #000a;
	font-size: .8em;
	border-radius: 4px;
	padding: 0 3px;
}

kbd.ctrl::before {
	content: "Ctrl";
}

kbd.cmd::before {
	content: "⌘ Cmd";
}

kbd.alt::before {
	content: "Alt";
}

kbd.shift::before {
	content: "⇧ Shift";
}

kbd.opt::before {
	content: "⌥ Opt";
}

kbd.back::before {
	content: "← Backspace";
}

kbd.tab::before {
	content: "Tab ↹";
}

kbd.enter::before {
	content: "↵ Enter";
}

kbd.win::before {
	content: "⊞ Win";
}
