{{ define "head_css"}}
{{ $pictures := slice "john_o_groats.jpg" "font.jpg" "al_pumpkino.jpeg"}}
{{ print "<style>" | safeHTML }}
{{ range $i, $img_name := $pictures}}

{{ with $img :=  resources.Get (print "img/about/" $img_name ) }}

{{ $resized := $img.Resize "x500" }}
{{ with $resized }}
#pic-{{ add 1 $i }} {
background-image: url({{ .RelPermalink }});
}
{{ end }}

{{ $resized = $img.Resize "x700" }}
{{ with $resized }}
@media (min-height: 500px) {
#pic-{{ add 1 $i }} {
background-image: url({{ .RelPermalink }});
}
}
{{ end }}

@media (min-height: 700px) {
#pic-{{ add 1 $i }} {
background-image: url({{ .RelPermalink }});
}
}
#pic-{{ add 1 $i }}.lazy {
background-image: none;
background: #aaa;
}
{{ end }}
{{ end }}
#main-container {
row-gap: 0;
}

#main-container > *:not(.wide-image) {
grid-column: text-start / text-end;
font-size: 16px;
}

#main-container > .wide-image {
grid-column: 1 / screen-end;
font-size: 16px;
height: 103vh;
background-attachment: fixed;
background-position: center;
margin: 20px -10px 50px -10px;
background-size: cover;
background-repeat: no-repeat;
/* filter: grayscale(.4); */
/* background-color: rgba(var(--alt-col), .2); */
background-blend-mode: overlay;
box-shadow: inset 0 0 15px -5px #000;
}

#home {
position: sticky;
top: 0;
transform: translate(-100px, 25px);
z-index: -1;
}

@media (max-width: 750px) {
#home {
display: none;
}
}

</style>
{{ end }}

{{ define "main" }}
<div id="background"></div>
<div id="byline">
    <h1 id="title">{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <div id="subtitle">{{ . }}</div>
    {{ end }}
</div>
<div id="main-container">
    <div id="home"><a href="/#{{ .Section }}"><i class="fa-solid fa-house"></i></a></div>
    <!-- <div id="nav-container">
        <div class="inline-icons">
            <div id="home"><a href="/#welcome"><i class="fa-solid fa-house"></i></a></div>
        </div>
        {{ .TableOfContents }}
    </div> -->
    <!-- <main> -->
    {{ .Content }}
    <!-- </main> -->
</div>
{{ end }}