<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{ partial "head" . }}
    {{ block "custom_head" . }}
    {{ end }}
    {{ block "head_js" . }}
    {{ end }}
    {{ with .Resources.Get .Params.head_js }}<script src="{{ . }}" type="text/javascript"></script>{{ end }}
    {{ with $img :=  resources.Get "img/intro.jpg" }}
    {{ $sizes := dict "huge" "2560x" "large" "1920x" "medium" "1280x" "small" "400x1000" }}
    {{ print "<style>" | safeHTML }}
    :root {
    {{ range $key, $value := $sizes }}
    {{ $resized := $img.Resize $value}}
    {{ if eq $key "small"}}
    {{ $resized = $img.Fill $value}}
    {{ end }}
    {{ with $resized }}
    --background-img-{{ $key}}: url({{ .RelPermalink }});
    {{ end }}
    {{ end }}
    }
    </style>
    {{ end }}
    {{ block "head_css" . }}
    {{ end }}
    {{ with .Resources.Get .Params.head_css }}
    <link rel="stylesheet" href="{{ . }}">{{ end }}
</head>

<body>
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    {{ block "main" . }}
    <!-- Add Body Here -->
    {{ end }}

    {{ partial "footer" . }}
    {{ block "footer_js" . }}
    {{ end }}
    {{ with .Resources.Get .Params.footer_js }}<script src="{{ . }}" type="text/javascript"></script>{{ end }}
    {{ block "footer_css" . }}
    {{ end }}
    {{ with .Resources.Get .Params.footer_css }}
    <link rel="stylesheet" href="{{ resources.Get . }}">{{ end }}
    <script src="/assets/js/lazy_load.js"></script>
</body>

</html>