{{ define "head_css"}}
<style>
    #byline #subtitle {
        font-size: 20px;
        padding: 0 10px;
        width: fit-content;
        margin-left: 0;
        margin-top: -5px;
        transform: translateX(12vw);
        max-width: 87%;
    }

    #background {
        background-image: url({{ if .Params.background }}/assets/img/{{ .Params.background }}{{ else }}/assets/img/intro.jpg{{ end}});
    }

    main {
        max-width: calc(100vw - 2em);
    }

    .gallery-container {
        margin-bottom: 2em;
    }

    /* .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        width: 1045px;
        transform-origin: top left;
    } */

    .gallery {
        display: grid;
        grid-template-columns: repeat(39, 1fr);
    }

    .image-container {
        grid-column: span 15;
        padding: 2px;
        background: #fff;
        border-radius: 7px;
        transition: all .2s ease-in;
    }

    .image-container:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px -3px;
    }

    .image-container.portrait {
        grid-column: span 9;
    }

    .thumbnail {
        height: 100%;
        width: 100%;
        cursor: pointer;
        object-fit: cover;
        border-radius: 6px;
        /* height: 195px */
    }

    .thumbnail.portrait {
        grid-column: span 1;
    }

    #viewer-container {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000e;
        height: 100%;
        width: 100%;
        z-index: 100;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    #viewer-container.active {
        display: flex;
    }

    #photo-viewer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
    }

    #photo-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: calc(100% - 120px);
        flex-shrink: 1;
        position: relative;
        justify-content: center;
    }

    #viewer-photo {
        max-height: 95%;
        object-fit: contain;
        background: black;
    }

    #caption {
        font-size: .7em;
        color: white;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    .ctrl {
        font-size: 4em;
        cursor: pointer;
        flex-shrink: 0;
        color: #fff3;
        transition: color .1s ease-in;
        pointer-events: all;
    }

    .ctrl.hidden {
        visibility: hidden;
    }

    .ctrl:hover,
    #close-gallery:hover {
        color: rgb(var(--theme-col));
    }

    #mobile-ctrls {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        pointer-events: none;
    }

    #mobile-ctrls button {
        padding: 0 20px;
    }

    #close-gallery {
        font-size: 3em;
        color: #fff3;
        transition: color .1s ease-in;
    }

    @media (min-width: 580px) {
        .image-container {
            padding: 3px;
            border-radius: 13px;
        }

        .thumbnail {
            border-radius: 10px;
        }

        #photo-viewer {
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            min-width: 80%;
        }

        #photo-container {
            height: 100%;
            max-width: calc(100% - 120px);
            max-height: unset;
        }
    }

    @media (min-width: 830px) {
        #caption {
            font-size: .8em;
        }
    }
</style>
{{ end }}
{{ define "main" }}
<div id="background"></div>
<div id="byline">
    <h1 id="title">{{ .Title }}</h1>
    <div id="subtitle">{{ .Params.subtitle }}</div>
</div>
<div id="main-container">
    <div id="nav-container">
        <div id="home"><a href="/#{{ path.Dir .Path }}"><i class="fa-solid fa-house"></i></a>
        </div>
        <nav>
            <ul>
                {{ range .Site.Data.photos}}
                <li><a href="#{{ .album | lower }}-{{ .year }}">{{ .album | title }} {{ .year }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>
    <main>
        {{ $n_in_previous_album := 0 }}
        {{ range $album_index, $albums := .Site.Data.photos}}
        <a class="anchor" id="{{ .album | lower }}-{{ .year }}"></a>
        <h2>{{ .album | title }} {{ .year }}</h2>
        <div class="gallery-container">
            <div class="gallery">
                {{ $album := .photos}}
                {{ $year := .year }}
                {{ range $index, $value := $album  }}
                {{ with $value.year }}
                {{ $year = .}}
                {{ end }}
                <div class="image-container{{ with .portrait }} portrait{{ end}}{{ with .large }} large{{ end}}">
                    <img class="thumbnail" height="250px" loading="lazy"
                        src="https://am3pap002files.storage.live.com/{{ $value.url }}?width=400&height=300"
                        alt="{{ with $value.caption}}{{.}} | {{end}}{{ $value.location }}"
                        index="{{ add $n_in_previous_album $index }}" year="{{ $year }}"
                        {{ if and (eq (add $album_index 1) (len $albums)) ( eq (add $index 1) (len $album)) }}last="true"
                        {{ end }} />
                </div>
                {{ end }}
                {{ $n_in_previous_album = len $album}}
            </div>
        </div>
        {{ end }}
    </main>
</div>
<div id="viewer-container">
    <div id="photo-viewer">
        <button class="ctrl previous wide-only">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div id="photo-container">
            <img src="" alt="" id="viewer-photo">
            <div id="caption"></div>
        </div>
        <button class="ctrl next wide-only">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div id="mobile-ctrls" class="narrow-only">
            <button class="ctrl previous">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <button id="close-gallery" class="narrow-only">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <button class="ctrl next">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer_js"}}
<script>
    document.addEventListener("click", e => {
        if (["photo-viewer", "photo-container", "viewer-container"].includes(e.target.id)) {
            document.getElementById("viewer-container").classList.remove("active")
            document.querySelector("html").classList.remove("fixed")
            document.querySelector("header").classList.remove("hidden")
        }
    })
    document.addEventListener("keydown", e => {
        const viewer = document.getElementById("viewer-container")
        if (!viewer.classList.contains("active")) return
        switch (e.code) {
            case 'ArrowLeft':
                swapPhoto(false);
                break;
            case 'ArrowRight':
                swapPhoto();
                break;
            case 'Escape':
                viewer.classList.remove("active")
                document.querySelector("html").classList.remove("fixed")
                break;
            default:
                return;
        }
    })
    document.querySelectorAll(".thumbnail").forEach(el => {
        el.addEventListener("click", e => {
            const photoURL = e.target.src.replace(/\?.*/, "?width=2048&height=1536");
            const caption = e.target.alt + " | &copy; " + e.target.getAttribute("year") +
                " Milan Valášek"
            const image = document.getElementById("viewer-photo")
            const index = +e.target.getAttribute("index")
            image.setAttribute("index", index)
            image.src = photoURL
            image.setAttribute("last", false)
            document.querySelector("header").classList.add("hidden")
            document.getElementById("viewer-container").classList.add("active")
            document.querySelector("html").classList.add("fixed")
            document.getElementById("caption").innerHTML = caption
            if (e.target.getAttribute("last") === 'true') document.querySelectorAll(".next").forEach(
                el => el.classList.add("hidden"))
            if (!index) document.querySelectorAll(".previous").forEach(el => el.classList.add("hidden"))

        })
    });

    function swapPhoto(next = true) {
        const viewerPhoto = document.getElementById("viewer-photo")
        const currentIndex = +viewerPhoto.getAttribute("index")
        const nextIndex = next ? currentIndex + 1 : currentIndex - 1
        const isLast = viewerPhoto.getAttribute("last") === 'true'

        if ((currentIndex === 0 && !next) || (isLast && next)) return;


        document.querySelectorAll(".ctrl").forEach(el => {
            el.classList.remove("hidden")
        });

        nextPhoto = document.querySelector(`.thumbnail[index="${nextIndex}"]`)
        isNextLast = nextPhoto.getAttribute("last") === 'true'
        isNextFirst = nextIndex === 0
        viewerPhoto.src = nextPhoto.src.replace(/\?.*/, "?width=1024&height=768")
        viewerPhoto.setAttribute("index", nextIndex)
        viewerPhoto.setAttribute("last", isNextLast)
        const caption = nextPhoto.alt + " | &copy; " + nextPhoto.getAttribute("year") +
            " Milan Valášek"
        document.getElementById("caption").innerHTML = caption
        if (isNextLast) document.querySelectorAll(".next").forEach(el => el.classList.add("hidden"))
        if (isNextFirst) document.querySelectorAll(".previous").forEach(el => el.classList.add("hidden"))
    }

    document.querySelectorAll(".previous").forEach(el => el.addEventListener("click", () => swapPhoto(false)))
    document
        .querySelectorAll(".next").forEach(el => el.addEventListener("click", () => swapPhoto()))
</script>
{{ end }}