{{ define "head_css"}}
{{ partial "background" . }}
<link rel="stylesheet" href="/assets/css/gallery.css">
{{ end }}
{{ define "main" }}
<div id="background"></div>
<div id="byline">
    <h1 id="title">{{ .Title }}</h1>
    <div id="subtitle">{{ .Params.subtitle }}</div>
</div>
<div id="main-container">
    <div id="nav-container">
        <div class="inline-icons">
            <div id="home"><a href="/#{{ .Section }}"><i class="fa-solid fa-house"></i></a>
            </div>
        </div>
        <nav>
            <ul>
                {{ range .Site.Data.photos}}
                <li><a href="#{{ .album | lower }}-{{ .year }}">{{ .album | title }} {{ .year }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>
    <main>
        {{ $n_in_previous_album := 0 }}
        {{ range $album_index, $albums := .Site.Data.photos}}
        <section id="{{ .album | lower }}-{{ .year }}-section">
            <a class="anchor" id="{{ .album | lower }}-{{ .year }}"></a>
            <h2>{{ .album | title }} {{ .year }}</h2>
            <div class="gallery-container">
                <div class="gallery">
                    {{ $album := .photos}}
                    {{ $year := .year }}
                    {{ range $index, $value := $album  }}
                    {{ with $value.year }}
                    {{ $year = .}}
                    {{ end }}
                    {{ $placeholder := .Resources.GetRemote (print "https://am3pap002files.storage.live.com/" $value.url "?width=8&height=6") }}
                    {{ $placeholder = $placeholder.Filter (images.GaussianBlur 1) }}
                    <div class="image-container{{ with .portrait }} portrait{{ end}}{{ with .large }} large{{ end}}">
                        <img class="thumbnail lazy" height="250px"
                            src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                            data-src="https://am3pap002files.storage.live.com/{{ $value.url }}?width=400&height=300"
                            aria-label="{{ with $value.caption}}{{.}} | {{end}}{{ $value.location }}"
                            index="{{ add $n_in_previous_album $index }}" year="{{ $year }}"
                            {{ if and (eq (add $album_index 1) (len $albums)) ( eq (add $index 1) (len $album)) }}last="true"
                            {{ end }} />
                    </div>
                    {{ end }}
                    {{ $n_in_previous_album = len $album}}
                </div>
            </div>
        </section>
        {{ end }}
    </main>
</div>
<div id="viewer-container">
    <div id="photo-viewer">
        <button class="ctrl previous wide-only">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div id="photo-container">
            <img src="" alt="" id="viewer-photo">
            <div id="caption"></div>
        </div>
        <button class="ctrl next wide-only">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div id="mobile-ctrls" class="narrow-only">
            <button class="ctrl previous">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <button id="close-gallery" class="narrow-only">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <button class="ctrl next">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer_js"}}
<script type="text/javascript" src="/assets/js/gallery.js"></script>
{{ end }}