{{ define "head_css"}}
<link rel="stylesheet" href="/assets/css/tabset.css">
{{ partial "background" . }}
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        margin: 2em 0
    }

    #byline #subtitle {
        font-size: 20px;
        background: #999999e6;
        padding: 0 10px;
        width: fit-content;
        margin-left: 5%;
        margin-top: -5px;
        display: block;
        transform: none !important;
    }
</style>
{{ end }}

{{ define "main" }}
<div id="background"></div>
<div id="byline">
    <h1 id="title">{{ .Title }}{{ with .Params.subtitle }}: {{ .}}{{ end }}</h1>
    <div id="subtitle">{{ .Date.Format "2 Jan 2006" }}</div>
</div>
<div id="main-container">
    <div id="nav-container">
        <div class="inline-icons">
            <div id="back"><a href="{{.CurrentSection.Permalink }}"><i class="fa-solid fa-arrow-left"></i></a></div>
            <div id="home"><a href="/#{{ .Section }}"><i class="fa-solid fa-house"></i></a></div>
        </div>

        {{ .TableOfContents }}
    </div>
    <main>
        {{ if .Params.preamble }}
        <div class="preamble">
            {{ range split ( .RenderString .Params.preamble ) "\n" }}
            <p>{{ markdownify . }}</p>
            {{ end }}
        </div>
        <hr>
        {{ end }}
        {{ .Content }}
        {{ if .File | replaceRE "\\.md$" ".qmd" | os.FileExists }}
        <div class="quarto"> This post was written using <a class="quarto-link" href="https://quarto.org"><img
                    class="quarto-icon" src="/img/quarto.svg" alt="Quarto"></a>.</div>
        {{ end }}
        <div class="button-container">
            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}" class="button">Previous post</a>{{else}}<div class="placeholder"
                aria-hidden="true"></div>
            {{ end }}
            {{ if .NextInSection }}<a href="{{ .NextInSection.RelPermalink }}" class="button">Next
                post</a>{{else}}<div class="placeholder" aria-hidden="true"></div>{{ end }}
        </div>
        {{ template "_internal/disqus.html" . }}
    </main>
</div>
{{ end }}

{{ define "footer_js" }}
<script src="/assets/js/copy_code.js"></script>
<script src="/assets/js/footnotes.js"></script>
<script src="/assets/js/tabset.js"></script>
{{ end }}