{{ define "custom_head" }}
<meta name="description" content="Visualisations of statistical concepts to help build stats intuition" />
<meta name="twitter:title" content="Interactive applet" />
<meta name="twitter:description" content="Visualisations of statistical concepts to help build stats intuition" />
<meta name="twitter:image:src" content="/assets/img/viz/viz.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@mivalek" />
<meta name="twitter:site" content="@mivalek" />
<meta property="og:title" content="Interactive applet" />
<meta property="og:description" content="Visualisations of statistical concepts to help build stats intuition" />
<meta property="og:image" content="/assets/img/viz/viz.png" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="article:author" content="Milan Valášek" />
{{ end }}

{{ define "head_css"}}
{{ with .Resources.Get "img/bkg.jpg" }}
<style>
  :root {
    --background-img: url({{ .RelPermalink }});
  }
</style>
{{ end }}
<link rel="stylesheet" href="/assets/css/blog_list.css">
<link rel="stylesheet" href="/assets/css/viz.css">
<link rel="stylesheet" href="/assets/css/viz_viewer.css">
{{ end }}

{{ define "main" }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0"
  nonce="T1fRhrc3"></script>

<div id="background"></div>
<div id="byline">
  <h1 id="title">{{ .Title }}</h1>
  <div id="subtitle">{{ .Content }}</div>
</div>
<div id="main-container">
  <div id="nav-container">
    <div id="home"><a href="/#portfolio"><i class="fa-solid fa-house"></i></a>
    </div>
  </div>
  <main>
    <div class="description narrow-only">{{ .Content }}</div>
    <div class="post-cards">
      {{ $data := .Site.Data.viz }}
      {{ range $index, $value := $data}}
      <div class="post-card-container" href="./{{ $value.ref }}" title="{{ $value.name }}" index="{{ $index }}"
        {{ if eq (add $index 1) (len $data) }}last="true" {{ end }}>
        <div class="card">
          <div class="img-container">
            <img src="/assets/img/viz/{{ $value.ref }}.png" />
          </div>
          <div class="text-container">
            <div class="viz-title">
              <h2>{{ $value.name | safeHTML}}</h2>
            </div>
            <div class="text">{{ $value.desc | safeHTML }}</div>

          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div id="viewer-container">
      <div id="app-viewer">
        <button class="ctrl previous wide-only">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <div id="middle">
          <div id="app-container">
            <iframe id="app" class="viz" src="" data-external="1" style="height:0px"></iframe>
          </div>
          <div id="embed-container"></div>
        </div>
        <button class="ctrl next wide-only">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div id="mobile-ctrls" class="narrow-only">
          <button class="ctrl previous">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button id="close-gallery" class="narrow-only">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <button class="ctrl next">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
<div id="shadow-embed-container" aria-hidden="true" visibility="none"><button id="embed"
    onclick="embed()">&lt;embed/&gt;</button>
  <div id="tooltip"><span>Code copied to clipboard!</span></div>
  <div class="fb-share-button" data-href="" data-layout="button" data-size="large"></div>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
    data-related="mivalek" data-show-count="false" data-external="1">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{{ end }}


{{ define "footer_js" }}
<script src="/assets/js/viz-viewer.js" type="text/javascript"></script>
{{ end }}