

#all-menus {
	user-select: none;
	position: relative;
	width: 650px;
	margin: auto 30px auto 0;
	display: flex;
	z-index: 1;
}

#errorBox {
	display: none;
	color: #c00;
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 5px 10px;
	width: 80%;
	margin: auto;
	background: white;
	border: solid 3px #cc0000;
	box-shadow: 5px 6px 10px 1px #222;
	z-index: 100;
}

#errorBox.active {
	display: block;
}

#grid-container {
	height: 75%;
	display: flex;
	flex-direction: row-reverse;
    margin-bottom: 30px;
}

.menu-container {
    position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	height: max-content;
	box-shadow: 5px 6px 10px 1px #222;
	transform: rotateZ(2deg);
	background: rgb(var(--paper-col));
	right: 0;
}

.menu-container.active {
    z-index: 100;
}

.menu-container.hidden {
    display: none;
}

.menu-container:not(.active) td {
	pointer-events: none;
}

#chocolate-container {
    transform: translate(5px, 8px) rotateZ(-1.5deg);
}

#bubble_tea-container {
    transform: translate(10px);
}

.header {
    padding: 10px 0 5px 0;
	position: relative;
    background: rgb(var(--coffee-col));
    display: inline-flex;
    min-width: 580px;
	width: 100%;
    border: solid 2px rgb(var(--paper-col));
	background-image: url(../img/nerd.svg);
	background-blend-mode: color-burn;
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-size: 15%;
	background-position-y: 10%;
}

.header-label {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color: rgb(var(--paper-col));
}

.drink-picture {
    margin: 0 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(var(--paper-col));
	background-size: 55%;
}

#coffee-container .drink-picture {
	background-image: url(../img/drinks/coffee.svg);
}

#bubble_tea-container .drink-picture {
	background-image: url(../img/drinks/tea.svg);
	background-size: 45%;
}

#chocolate-container .drink-picture {
	background-image: url(../img/drinks/choc.svg);
}

.menu-select {
	display: none;
	position: absolute;
	width: max-content;
	height: max-content;
	padding: 2px 5px 12px 5px;
    background: rgb(var(--coffee-col));
	color: white;
	font-weight: bold;
    font-size: 1.2em;
	transform: rotateZ(-90deg);
	left: 0;
	top: 0;
	transform-origin: 50% 180%;
    z-index: 0;
    cursor: pointer;
}

.interactive .menu-select {
	display: block;
}

.active .menu-select {
    background: rgb(var(--paper-col));
    color: rgb(var(--coffee-col));
}

#chocolate-container .menu-select {
	transform: translate(-15%, 200%) rotateZ(-90deg);
}

#bubble_tea-container .menu-select {
	transform: translate(-15%, 580%) rotateZ(-90deg);
}

.trapezoid {
	height: calc(100% + 3px);
	position: absolute;
	width: 120%;
	background: inherit;
	transform: perspective(10px) rotateX(2deg);
	bottom: -1px;
	left: -5px;
	border: solid 1px #4d391f;
}

.label {
	font-weight: 300;
	position: relative;
    background: none;
}

.menu {
    position: relative;
    /* height: 400px; */
    background: rgb(var(--paper-col));
	padding: 3px;
    z-index: 1;
}

table {
    position: relative;
    border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
	font-weight: bold;
	color: rgb(var(--coffee-col));
}

thead tr {
    background: rgb(var(--paper-col));
}

tbody tr:nth-child(2n-1) {
	background: rgb(var(--coffee-col));
	color: white;
}

th, td {
	padding: 5px 10px;
    background: none;
    transition: all .15s ease-in-out;
}

.interactive td {
	cursor: pointer;
}

td.price {
    text-align: center;
}


td.ghost {
	background: #f08ae9;
	/* cursor: pointer; */
    color: white;
}

td.highlight, th.highlight, td.hover {
	background: rgb(var(--purple));
	/* cursor: pointer; */
    color: white;
}

td.highlight, th.highlight {
	background: var(--teal);
}

.ingredient.hover.highlight {
	outline: solid 5px rgb(var(--purple));
	outline-offset: -5px;
}

.menu .ss-scroll {
	background: rgb(var(--coffee-col)) !important;
    transform: translateX(-6px);
}

#console {
	mask-image: linear-gradient(90deg, transparent 0%, black 5%, black 95%, transparent 100%);
	mask-mode: alpha;
	position: relative;
	min-width: calc(100% - 20px);
	height: 135px;
	margin: 0 -40px
}

.r-code-container .ss-scroll {
	background: #ffffff99 !important;
    transform: translateX(-12px);
}

.r-code-container, #console-manual {
	position: absolute;
	width: 90%;
	min-width: 800px;
	padding: 10px;
	margin: auto;
	font-family: monospace;
	font-size: 20px;
	color: white;
	background: var(--teal);
	border: solid;
	height: 134px;
	left: 5%;
	transform: translateX(0);
	transition: transform .3s ease-out;
}

#console-manual {
	display: none;
}

#console-manual.active {
	display: block;
	z-index: 100;
	background: black;
	color: var(--teal);
}

#content-manual {
	position: relative;
	height: 100%;
	width: 100%;
	outline: none;
}

.r-code-container.previous {
	transform: translateX(-150%);
}
.r-code-container.next {
	transform: translateX(150%);
}

#console-1, #console-3 {
	display: block;
}


#console-2 .ss-content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.r-code-container .closing-bracket, .gu-mirror .closing-bracket {
    display: none;
}

.clear {
	position: absolute;
	z-index: 100;
	height: 20px;
	width: 20px;
	top: 3px;
	right: 3px;
	padding: 0 2px;
	border-radius: 5px;
	font-family: sans-serif;
	text-align: right;
	line-height: 15px;
	cursor: pointer;
	overflow: clip;
    white-space: nowrap;
	transition: width .2s ease-in-out;
    user-select: none;
}

.clear:hover, .clear.flash {
	background: #fff;
	color: var(--teal);
	width: 105px;
}

.clear:hover::before, .clear.flash::before {
	content: 'clear code';
	font-size: .8em;
	padding: 5px;
}

.block-wrapper {
	display: flex;
}

.block-wrapper .code-block {
    transform: none !important;
}

#filter, #select {
    margin-left: 25px;
    margin-top: 10px;
}

#filter > div {
    display: none;
}
#filter > div.show {
    display: inline;
}

.filter-var {
    margin: 0 10px;
}

.pipe {
    margin: 0 15px;
}

#left-panel {
	width: calc(100% - 700px);
	min-width: 340px;
	display: flex;
	flex-direction: column;
	gap: 0px;
	position: relative;
}

#info-container {
	height: 55%;
	max-height: 260px;
	position: relative;
	color: white;
	font-family: 'Press Start 2P', cursive;
	letter-spacing: 1px;
	line-height: 1.4em;
}

#info {
	height: 100%;
	background: var(--teal);
	border: solid 2px white;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	padding-top: 20px;
	overflow: hidden;
	text-overflow: clip;
	transform: scale(0);
	transition: transform .2s ease-in-out;
}

#info.active {
	transform: scale(1)
}

#character-container {
	height: 100%;
	width: 120px;
	float: left;
	display: flex;
	align-items: flex-end;
	shape-outside: inset(calc(100% - 120px) 0 0);
	position: relative;
	overflow: initial;
}

#character {
	width: 100%;
	height: 60%;
	transform: translate(-10px, 10px);
	position: absolute;
	transition: transform .4s ease-in-out;
}

#character.hidden {
	transform: translate(-150px, 10px);
}

#drink {
	display: none;
	height: 50px;
	width: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
	position: absolute;
	bottom: -15%;
	right: 0;
}

#drink.active {
	display: block;
}

#drink.flip {
	right: auto;
	transform: rotateY(180deg);
}

#drink.tea1, #drink.tea2 {
	height: 100px;
	bottom: -45%;
}
#drink.choc1.white {
	background-image: url(../img/drinks/choc_1_white.svg);
}
#drink.choc2.white {
	background-image: url(../img/drinks/choc_2_white.svg);
}
#drink.coffee1.white {
	background-image: url(../img/drinks/coffee_1_white.svg);
}
#drink.coffee2.white {
	background-image: url(../img/drinks/coffee_2_white.svg);
}
#drink.tea1.white {
	background-image: url(../img/drinks/tea_1_white.svg);
}
#drink.tea2.white {
	background-image: url(../img/drinks/tea_2_white.svg);
}
#drink.choc1.black {
	background-image: url(../img/drinks/choc_1_black.svg);
}
#drink.choc2.black {
	background-image: url(../img/drinks/choc_2_black.svg);
}
#drink.coffee1.black {
	background-image: url(../img/drinks/coffee_1_black.svg);
}
#drink.coffee2.black {
	background-image: url(../img/drinks/coffee_2_black.svg);
}
#drink.tea1.black {
	background-image: url(../img/drinks/tea_1_black.svg);
}
#drink.tea2.black {
	background-image: url(../img/drinks/tea_2_black.svg);
}
#drink.choc1.brown {
	background-image: url(../img/drinks/choc_1_brown.svg);
}
#drink.choc2.brown {
	background-image: url(../img/drinks/choc_2_brown.svg);
}
#drink.coffee1.brown {
	background-image: url(../img/drinks/coffee_1_brown.svg);
}
#drink.coffee2.brown {
	background-image: url(../img/drinks/coffee_2_brown.svg);
}
#drink.tea1.brown {
	background-image: url(../img/drinks/tea_1_brown.svg);
}
#drink.tea2.brown {
	background-image: url(../img/drinks/tea_2_brown.svg);
}
#bottom-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0;
	margin: 0 10px;
}

#next-instruction {
	display: none;
	position: absolute;
	bottom: 12px;
	right: 60px;
	background: white;
	border: solid 2px var(--teal);
	border-radius: 5px;
	padding: 5px 10px 3px 10px;
	color: var(--teal);
	cursor: pointer;
}

#next-instruction.active {
	display: block;
}

#next-instruction.active:hover {
	color: rgb(var(--orange));
	border-color: rgb(var(--orange));
}

#order {	
	display: none;
	position: absolute;
	bottom: -25px;
	right: -4px;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: white;
	cursor: pointer;
	border-radius: 50%;
	padding: 9px;
}

#order-icon {
	position: relative;
	height: 40px;
	width: 35px;
	background-image: url(../img/order.svg);
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotateZ(5deg);
}

#order-text {
	display: block;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	position: absolute;
	background: #000a;
	width: max-content;
	z-index: 100;
	padding: 5px 10px;
	right: 0;
	bottom: 105%;
	border-radius: 5px;
	pointer-events: none;
}

#order.active {
	display: initial;
}

#order.active:hover #order-text {
	opacity: 1;
}

.ctrl {
	display: flex;
	height: 135px;
	min-width: 50px;
	align-items: center;
	z-index: 2;
}

#next, #back {
	cursor: pointer;
	height: 50%;
	display: flex;
	width: 50px;
	align-items: center;
	display: none;
}

.ctrl #back {
	justify-content: end;
}

.ctrl #next {
	justify-content: start;
}

.arrow {
	
	height: 40px;
	width: 40px;
	border: solid 6px var(--teal);
	border-bottom: none;
	border-right: none;
	border-radius: 3px;
}

.ctrl div:hover .arrow, .arrow.flash {
	border-color: rgb(var(--orange));
	transition: transform .5s linear ;
	animation-duration: 1s;
	animation-name: shift-left;
	animation-iteration-count: infinite;
}

.arrow.left {
	transform: rotateZ(-45deg);
}

.arrow.right {
	transform: rotateZ(135deg);
}

#back:hover .arrow, #back .arrow.flash {
	animation-name: shift-left;
}

#next:hover .arrow, #next .arrow.flash {
	animation-name: shift-right;
}

@keyframes shift-left {
	from {
		transform: translateX(0) rotateZ(-45deg);
	}  
	to {
		transform: translateX(-20px) rotateZ(-45deg);
	}
}

@keyframes shift-right {
	from {
		transform: translateX(0) rotateZ(135deg);
	}  
	to {
		transform: translateX(20px) rotateZ(135deg);
	}
}

*:not(.arrow).flash {
	animation: flash 1s infinite;
}

@keyframes flash {	
	50% {
		background: rgb(var(--orange));
	}
}

@keyframes pulse {	
	50% {
		transform: scale(1.1);
	}
}


#code-block-container {
	position: relative;
	margin: auto 0 0 0;
	transform: translateY(-100vh);
	transition: transform .5s ease-in-out;
}

#code-block-container .ss-content {
	mask-image: linear-gradient(0deg, transparent 0%, black 25px, black calc(100% - 25px), transparent 100%);
	mask-mode: alpha;
	padding: 20px 0;
}

#code-block-container .blocks {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
    align-content: flex-start;
	padding-right: 10px;
	padding-top: 10px;
}

#code-block-container .ss-scroll {
	background: rgba(var(--purple), .7) !important;
    transform: translate(6px, 8px) scaleY(.7);
}
.code-block {
	font-size: 20px;
	font-family: monospace;
	color: white;
	background: rgb(var(--purple));
    height: max-content;
	width: max-content;
	padding: 2px 10px;
	box-shadow: 1px 1px 5px 1px #333;
	cursor: pointer;
	user-select: none;
}

.r-code-container .code-block {
	margin: 0;
	transform: none !important;
}



 /* dragula */
.gu-mirror {
    opacity: 1;
}

#code-block-container.active {
	transform: translateY(0);
}

#next.active,
#back.active {
	display: flex;
}

#start {
	display: none;
	color: white;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 50px);
	width: 100px;
	border: solid 2px;
	border-color: white;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	transform: scale(1);
	transition: all .3s ease-in-out;
	background: transparent;
}

#start.active {
	display: block;
}

#start.active:hover {
	color: white;
	border-color: rgb(var(--purple));
	background: rgb(var(--purple));
}

.icon {
	width: 40px;
	height: 18px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	cursor: pointer;

}
#keyboard-icon {
	padding: 1px 3px;
	background: transparent;
	fill: white;
	display: none;
	bottom: 5px;
	border-radius: 2px;
	height: 18px;
	z-index: 2;
	transition: all .3s ease-in-out;
}

#block-icon {
	background: rgb(var(--purple));
	color: white;
	display: flex;
	align-content: center;
	font-size: .8em;
	justify-content: center;
}

#console #keyboard-icon {
	display: flex;
}

#keyboard-icon:hover {
	fill: var(--teal);
	background: white;
}

#blackout {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background: black;
	z-index: 100;
}

#blackout.active {
	display: block;
	animation: blackout .8s ease-in-out;
}

@keyframes blackout {	
	50% {
		opacity: 1;
	}
}

@media only screen and (min-width: 1200px) {
	#character-container {
		width: 170px;
		shape-outside: none;
		margin-right: 10px;
	}
	#character {
		height: 90%;
	}
	#character.hidden {
		transform: translate(-180px, 10px);
	}
	#drink {
		display: none;
		height: 75px;
		width: 60px;
	}
	
	#drink.tea1, #drink.tea2 {
		height: 150px;
		bottom: -43%;
	}
}
