{{ $img_name := "bkg.jpg" }}
{{ if not .IsSection }}
{{ $img_name = "img/bkg.jpg" }}
{{ end }}
{{ with $img :=  .Resources.Get $img_name }}
{{ $sizes := dict "huge" "2560x" "large" "1920x" "medium" "1280x" "small" "400x1000" }}
{{ print "<style>" | safeHTML }}
:root {
{{ range $key, $value := $sizes }}
{{ $resized := $img.Resize $value}}
{{ if eq $key "small"}}
{{ $resized = $img.Fill $value}}
{{ end }}
{{ with $resized }}
--background-img-{{ $key}}: url({{ .RelPermalink }});
{{ end }}
{{ end }}
}
</style>
{{ end }}