{{ define "head_css" }}
<link rel="stylesheet" href="/assets/css/404.css">
{{ end }}

{{ define "main"}}
<main id="main">
    <div id="lol-container" aria-hidden="true">
        <div id="lol">¯\_(ツ)_/¯</div>
    </div>
    <div id="background"></div>
    <div id="body">
        <div id="nope">Nope! Nothing here...</div>
        <h1 id="not-found">404</h1>
        <div id="def">Standard HTTP response codes were defined by the OG web developer <a
                href="https://en.wikipedia.org/wiki/Tim_Berners-Lee">Tim Berners-Lee</a> in 1992, based on the ones
            used for File Transfer Protocol. All 4xx responses code for client errors, such as unauthorised request
            (401) or request timeout (408). The 404 error occurs when the server cannot find the page requested by the
            client. This can be due to the page being moved or a typo in the URL.
            <div id="source"><a
                    href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_client_errors">source</a></div>
        </div>

        <div>
            <a class="button" href="{{ "/" | relURL }}">Go Home</a>
        </div>
    </div>
</main>
{{ end }}

{{ define "footer_js"}}
<script src="/assets/js/404.js" type="text/javascript"></script>
{{ end }}