{{ define "head_js"}}
<script src="assets/js/main_page.js"></script>
{{ end }}

{{ define "head_css"}}
<link rel="stylesheet" href="assets/css/main_page.css">
{{ end }}

{{ define "main" }}
<div id="load-mask"></div>
<div id="intro-container" aria-hidden="true">
    <div id="background"></div>
    <div id="intro">
        <img id="intro-logo" src="img/mv_logo.svg" alt="">
        <h1 id="title">
            <div><span class="lig nudge">ae</span><span class="invert">sthetic</span></div>
            <div>end<span id="flip" class="lig invert">ae</span>vour</div>
        </h1>
    </div>
</div>

<div id="main-container">
    {{ partial "nav-menu" .}}
    <main>
        <section id="author-section">
            <div class="text">
                <a class="anchor" id="author"></a>
                {{ .Content }}
                <div class="button-container">
                    <a href="./about" class="button">More about me</a>
                </div>
            </div>
            <div id="hero-container">
                {{ with resources.Get "img/me.jpg" }}
                {{ with .Resize "200x"}}
                <img class="hero" src="{{ .RelPermalink }}" alt="Photo of my wind-swept self on the Brighton seafront">
                {{ end }}
                {{ end }}
            </div>

        </section>

        <section id="tools-section">
            <a class="anchor" id="tools"></a>
            <h2>Tools I use</h2>
            <p>Hover over/tap on icon for details</p>
            {{ range $key, $value := .Site.Data.skills }}
            {{ $area := $key | replaceRE "^\\d{2}\\s" "" }}
            <div class="skill-area" id="{{ $area | lower | replaceRE "\\s" "-"}}">
                <h3>{{ $area }}</h3>
                {{ if $value.note }}
                <p>{{ $value.note }}</p>
                {{ end }}
                <div class="cards">
                    {{ range $k, $v := $value }}
                    {{ if ne $k "note"}}
                    {{ $hover := "" }}
                    {{ $isHov := false }}
                    {{ if $v.details }}
                    {{ $hover = " hoverable" }}
                    {{ $isHov = true }}
                    {{ end }}
                    <div class="card">
                        {{ $icon := $v.icon }}
                        {{ if len (findRE "\\..{3}$" $icon) }}
                        <img class="inline-icon{{ $hover }}"
                            src="{{ with resources.Get ( print "img/" $icon )}}{{ .RelPermalink }}{{ end }}">
                        {{ else }}
                        <i class="{{ $icon }}{{ $hover }}"></i>
                        {{ end }}
                        {{ if $isHov }}
                        <div class="tooltip">
                            <ul class="no-marker">
                                {{ range $v.details }}
                                <li>{{ . | safeHTML | markdownify }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        {{ end }}
                        <div class="card-desc">
                            {{ $k | replaceRE "^\\d{2}\\s" "" | replaceRE "\\s" "<br>" | replaceRE "_" " " | safeHTML}}
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </section>
        <section id="portfolio-section">
            <a class="anchor" id="portfolio"></a>
            <h2>Things I've made</h2>
            <a href="/portfolio/boulder-viz" class="portfolio-item"
                alt="link to visualisation of world bouldering competition data">
                <div class="portfolio-desc">
                    <h3>Data Analytics</h3>
                    <p>Getting, processing, and analysing data is only part of the process for a data scientist.
                        You also need to present the results to your audience in an engaging way. Eye-catching
                        interactive analytics encourage viewers to spend time exploring data and gain
                        insights.</p>
                </div>
                <div class="portfolio-image-container" width="280px" style="height:200px;filter:grayscale(.4)">
                    {{ with resources.Get "img/boulder_img.png" }}
                    {{ $placeholder := .Resize "x5" }}
                    {{ $placeholder = $placeholder.Filter (images.GaussianBlur 1) }}
                    <img class="lazy" src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                        data-src="{{ with .Resize "x250" }}{{ .RelPermalink }}{{ end }}" alt="" style="height:200px">
                    {{ end }}
                </div>
            </a>
            <a href="/caffe_nerd" class="portfolio-item" alt="link to caffe nerd game">
                <div class="portfolio-desc">
                    <h3>Caff&egrave; neRd</h3>
                    <p>As an intern in a quirky caf&eacute; you can only serve drink by querying the correct item from
                        the menu using code. This gamified tutorial will walk you through the basics of data wrangling
                        using R's
                        <code>tidyverse</code> dialect.<br>Not optimised for mobile devices.
                    </p>
                </div>
                <div class="portfolio-image-container">
                    <img loading="lazy" src="/caffe_nerd/assets/img/nerd.svg" alt="" width="200px" style="height:80px">
                </div>
            </a>
            <a href="https://and2022.netlify.app/docs/escape/" target="_blank" class="portfolio-item"
                alt="external link to a data science escape room">
                <div class="portfolio-desc">
                    <h3>Escape room<i class="fa-solid fa-arrow-up-right-from-square"></i></h3>
                    <p>Do you dare enter the room of data horrors few have managed to escape in time? Use your
                        data-analysis skills to make it out of this ever-so-slightly thrilling escape
                        room.<br>Co-authored with Jennifer Mankin during my time at Uni Sussex.
                    </p>
                </div>
                <div class="portfolio-image-container" width="280px" style="height:200px">
                    {{ with resources.Get "img/escape.png" }}
                    {{ $placeholder := .Resize "x5" }}
                    {{ $placeholder = $placeholder.Filter (images.GaussianBlur 1) }}
                    <img class="lazy" src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                        data-src="{{ with .Resize "x250" }}{{ .RelPermalink }}{{ end }}" alt="" style="height:200px">
                    {{ end }}
                </div>
            </a>
            <div class="portfolio-item">
                <div class="portfolio-desc">
                    <h3>Interactive visualisations</h3>
                    <p>Cute little visual explainers of statistical concepts I would use when I taught stats. This one
                        shows how the correlation coefficient <em>r</em> can be understood as the cosine of the angle
                        formed by two OLS lines of best fit, one predicting x from y and the other predicting y form x.
                    </p>
                    <div class="button-container">
                        <a href="./viz" class="button">More viz</a>
                    </div>
                </div>
                <div class="portfolio-image-container">
                    <iframe loading="lazy" id="cor-viz" class="viz app" src="/viz/cor" data-external="1"
                        style="height:562px;"></iframe>
                </div>
            </div>
            More to come...
            <!-- <div class="button-container">
                <a href="./portfolio" class="button">More things</a>
            </div> -->
        </section>
        <section id="blog-section">
            <a class="anchor" id="blog"></a>
            <h2>My musings</h2>
            <p>Although I'm not the kind of person who needs to broadcast their thoughts, there are a few things
                I have <span id="opinions" class="hoverable"> Opinions&trade;</span><span class="tooltip">I stole
                    this stylisation without shame from the wonderful
                    <a target="_blank" href='https://twitter.com/jenaesthesia'>Dr Jennifer Mankin</a>. Go show
                    her some love!
                </span> on. You have been warned...</p>

            <div id="featured">
                {{ range where .Site.Pages "Section" "blog"}}
                {{ $pages := (.Pages.ByParam "Date").Reverse.ByParam "featured"}}
                {{ range $index, $page := first 3 $pages }}
                <div class="post-container{{ with $page.Params.featured}} featured" alt="featured post{{ end }}">
                    <div class="post-image-container">
                        {{ with $page.Resources.Get "img/bkg.jpg" }}
                        {{ $placeholder := .Resize "x5" }}
                        {{ $placeholder = $placeholder.Filter (images.GaussianBlur 1) }}
                        <img class="lazy" src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                            data-src="{{ with .Resize "x250" }}{{ .RelPermalink }}{{ end }}" alt="">
                        {{ end }}
                    </div>
                    <div class="post">
                        <h3>{{$page.Title}}</h3>
                        <p class="published">Published on {{$page.Date.Format "2 Jan 2006"}}</p>
                        <p>{{ $page.Summary | truncate 500 }}</p>
                    </div>
                    <a href="{{.Permalink}}"></a>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <div class="button-container">
                <a href="./blog" class="button">All posts</a>
            </div>
        </section>
        <section id="gallery-section">
            <a class="anchor" id="gallery"></a>
            <h2><span class="hoverable"> An art</span><span class="tooltip">Hommage to the
                    hilarious and edifying <a
                        href="https://mcmansionhell.com/post/154250104246/cook-county-il">McMansion
                        Hell</a></span></h2>
            <p>Because I'm not cool enough for Instagram...</p>
            {{ $featured_photos := slice }}
            {{ range $index, $albums := .Site.Data.photos}}
            {{ $featured_photos = append $featured_photos .photos }}
            {{ end }}
            <div id="featured-gallery">
                {{ range shuffle (where $featured_photos "featured" true) }}
                {{ $placeholder := resources.GetRemote (print "https://am3pap002files.storage.live.com/" .url "?width=8&height=6") }}
                {{ $placeholder = $placeholder.Filter (images.GaussianBlur 1) }}
                <div class="image-container{{ with .portrait }} portrait{{ end}}{{ with .large }} large{{ end}}">
                    <img class="thumbnail lazy" src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                        data-src="https://am3pap002files.storage.live.com/{{ .url }}?width=800&height=600"
                        alt="{{ with .caption}}{{.}} | {{end}}{{ .location }}" />
                </div>
                {{ end }}
            </div>
            <div class="button-container">
                <a href="./gallery" class="button">See more</a>
            </div>
        </section>
    </main>
</div>
{{ end }}